@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ns-yellow: #FFC917;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: var(--ns-yellow);
}

.title {
  text-align: right;
  font-weight: bold;
  font-size: larger;
}

.title h1 {
  font-size: xx-large;
}

.title h2 {
  font-size: 22px;
}

.settings {
  border: 2px grey solid;
  border-radius: 4px;
  width: 400px;
  margin-top: 20px;
}

.patterns {
  text-align: left;
  margin-bottom: 50px;
}

.patterns br {
  display: block;
}

.patterns label {
  font-size: 10px;
  display: flex;
  flex-direction: row;
}

.patterns input {
  margin-right: 3px;
}


.settings h3 {
  background-color: var(--ns-yellow);
  position: relative;
  margin: 0px auto;
  top: -14px;
  width: fit-content;
  color: grey;
  font-size: 20px;
  padding: 0px 5px;
  font-weight: 600;
}

.settings h4 {
  font-size: 18px;
  font-weight: bold;
}